<div class="container">
  <h2 class='text-center' style="color:blue">Today's article</h2>
  <hr>
  <div *ngFor="let art of articles">
    <a href="{{art.url}}" target="_blank">{{art.title}}</a>: <app-like></app-like>
  </div>
  <hr>
  <h2 class='text-center' style="color:rgb(183, 0, 255)">Article Information</h2>
  <table>
    <tr>
      <td>Title:</td>
      <td><textarea [(ngModel)]="article.title" cols="150"></textarea></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea [(ngModel)]="article.url" cols="150"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button class='btn btn-primary' style="float: right" (click)="addNewArticle()"><i
            class="fas fa-address-book"></i></button></td>
    </tr>
  </table>
  <hr>
  @CodeGym, 2021

</div>
