<div class="container">
  <h3 class="text-center" style="color:rebeccapurple"> Product Editing</h3>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3">
      <label class="form-label">Tên</label>
      <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
    </div>
    <span
        *ngIf="!productForm.controls['name'].dirty 
        && productForm.controls['name'].errors?.['required']"
        class="help-block text-danger">
        Name is required
    </span>
    <div class="mb-3">
      <label class="form-label">Giá</label>
      <input type="text"  class="form-control" id="price" placeholder="Price" formControlName="price">
    </div>
    <span 
          *ngIf="!productForm.controls['price'].dirty 
          && productForm.controls['price'].errors?.['required']"
          class="help-block text-danger">
          Price is required 
    </span><br>
    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
  </form>
</div>

