<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
    
            <!-- Show validate -->
            <p 
            *ngIf="!productForm.controls['name']?.valid && (productForm.controls['name']?.dirty
            ||productForm.controls['name']?.touched)"
            class="help-block text-danger">Name is required</p>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price">
    
            <!-- Show validate -->
            <p 
            *ngIf="!productForm.controls['price']?.valid && (productForm.controls['price']?.dirty
            ||productForm.controls['price']?.touched)"
            class="help-block text-danger">Price is required</p>
    
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
        </div>
        
      </form>
</div>
