<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-9">
                <h3 class="text-center" style="color:rebeccapurple">Manage products</h3>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input #txt type="text" class="form-control" >
                    <span class="input-group-btn">
                        <button on-click="search(txt.value)" class="btn btn-info" type="button">Search!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
    <button routerLink="/product-add" routerLinkActive="active" class ="btn btn-success">Product Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf = "products.length == 0">
                    <td colspan="6">Không có dữ liệu</td>
                </tr>
                <tr *ngFor="let product of products; let i = index;">
                    <th>{{ i+1 }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a class="btn btn-info" [routerLink]="['/product-edit',i]">Edit</a> |
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" >Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thực hiện</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Bạn có chắc muốn xóa !
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" on-click="handleYes(idDelete)">Xóa</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
