<h1>Rating Bar</h1>
<div *ngIf="showRatingValue">
  {{ ratingValue }}
</div>

<div class="rating-bar" (mouseleave)="reset()">
  <div  class="rating-unit" 
        *ngFor="let item of ratingUnits; index as i" 
        [class.active]="item.active"
        (mouseenter)="select(i)" (mouseenter)="enter(i)">
        {{ item.value }}
  </div>
</div>
