
<div class="text-center" style=" height:170px ;width: 500px; margin: 10px auto;background-color: palegreen;">
    <div class="panel-heading">
        <h3 class="panel-title">Book detail</h3>
    </div>
    <div class="panel-body">
        Book    : <strong>{{ product.name }}</strong> <br>
        Author  : <strong>{{ product.author }}</strong> <br>
        Description  : <strong>{{ product.description }}</strong> <br>
    </div>
    <div class="panel-footer" style="overflow: hidden;">
        <a class="btn btn-info" routerLink="/products">Back</a>
    </div>
</div>
