<div class="container">
  <form method="post" role="form" 
        autocomplete="off" #fileForm='ngForm' 
        (ngSubmit)="handSubmit(fileForm.value)"
        *ngIf="isshowForm == true">
    <!-- fileForm  giúp thêm dữ liệu vào bảng  
        handSubmit(fileForm.value)" nhấn submit sẽ thêm dũ liệu vào -->

    <h3 class="text-center" style="color:rebeccapurple">Thêm Sản phẩm</h3>
    <div class="mb-3">
      <label class="form-label">Tên</label>
      <input #name="ngModel" type="name" class="form-control" name="name" ngModel placeholder="Nhập tên">
    </div>

    <div class="mb-3">
      <label class="form-label">Số lượng</label>
      <input type="text" class="form-control" name="quantity" ngModel placeholder="Nhập Số lượng">
    </div>

    <div class="mb-3">
      <label class="form-label">Giá</label>
      <input type="text" class="form-control" name="price" ngModel placeholder="Nhập giá">
    </div>

    <div class="mb-3">
      <label class="form-label">Mã sản phẩm</label>
      <input type="text" class="form-control" name="code" ngModel placeholder="Nhập code">
    </div>

    <button type="submit" *ngIf="fileForm.valid" class="btn btn-primary">Thêm</button>
</form>

  <button *ngIf="!isshowForm" on-click="clickshowForm()" class="btn btn-success">Thêm mới</button>
    <br>
  <div>
    <button *ngIf="isshowForm" on-click="clickshowForm()" class="btn btn-dark">Quay lại</button>
  </div>

  <div *ngIf="isshowForm == false">
    <h3 class="text-center" style="color:rebeccapurple">Quản lí Sản phẩm</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Giá</th>
          <th scope="col">Mã sản phẩm</th>
          <th scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="forms.length == 0">
          <td colspan="4">Không có dữ liệu</td>
        </tr>
        <tr *ngFor='let form of forms ; let i = index'>
          <th>{{ i+1 }}</th>
          <td>{{ form.name }}</td>
          <td>{{ form.quantity }}</td>
          <td>{{ form.price }}</td>
          <td>{{ form.code }}</td>
          <td>
            <a href="javascript:" on-click="delete(i)" class="btn btn-danger">Xóa</a>|
            <a href="" class="btn btn-info">Sửa</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
