<div class="name-card">
    <div class="name-card__content-left">
      <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="Logo" class="name-card__avatar">
    </div>
    <div class="name-card__content-right" >
      <h3 class="name-card__heading">{{ cardName }}</h3>
      <p class="name-card__text">{{ email }}</p>
      <p class="name-card__text">{{ phone }}</p>
    </div>
  </div>