<input type='number' #number1><br><br>
<select #method>
    <option value="cong">Cộng</option>
    <option value="tru">Trừ</option>
    <option value="nhan">Nhân</option>
    <option value="chia">Chia</option>
</select><br><br>
<input type='number' #number2>
<button on-click="handTinh(number1.value, number2.value, method.value)">Tính</button><br><br>

<p>Kết quả là : {{result}}</p>
