<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-9">
                <h3 class="text-center" style="color:rebeccapurple">Manage Users</h3>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input #txt type="text" class="form-control" >
                    <span class="input-group-btn">
                        <button on-click="search(txt.value)" class="btn btn-info" type="button">Search!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
    <a [routerLink]="['users-add']" routerLinkActive="active" class ="btn btn-success">Users Add</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Stt</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf = "users.length == 0">
                    <td colspan="6">Không có dữ liệu</td>
                </tr>
                <tr *ngFor="let user of users; let i = index;">
                    <th>{{ i+1 }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.birthday }}</td>
                    <td>{{ user.address }}</td>
                    <td>
                        <a class="btn btn-info" [routerLink]="['users-edit',i]">Edit</a> |
                        <a class="btn btn-danger" [routerLink]="['users-delete',i]">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

