<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
    
            <!-- Show validate -->
            <p 
            *ngIf="!userForm.controls['name']?.valid && (userForm.controls['name']?.dirty
            ||userForm.controls['name']?.touched)"
            class="help-block text-danger">Name is required</p>
        </div>
        <div class="form-group">
            <label for="birthday">BirthDay</label>
            <input type="date" class="form-control" formControlName="birthday">
            <!-- Show validate -->
            <p 
            *ngIf="!userForm.controls['birthday']?.valid && (userForm.controls['birthday']?.dirty
            ||userForm.controls['birthday']?.touched)"
            class="help-block text-danger">BirthDay is required</p>
        </div>
        <div class="form-group">
            <label for="birthday">Address</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Address">
            <!-- Show validate -->
            <p 
            *ngIf="!userForm.controls['birthday']?.valid && (userForm.controls['birthday']?.dirty
            ||userForm.controls['birthday']?.touched)"
            class="help-block text-danger">BirthDay is required</p>
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
        </div>
        
      </form>
</div>
