<div class="container">
  <h3 class="text-center" style="color:rebeccapurple"> User Editing</h3>
  <form 
      [formGroup]="userForm" 
      (ngSubmit)="onSubmit()" 
      autocomplete="off">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
    </div>
        <p *ngIf="!userForm.controls['name'].dirty 
            && userForm.controls['name'].errors?.['required']" 
            class="help-block text-danger">
                Name is required
        </p>
    <div class="mb-3">
      <label class="form-label">BirthDay</label>
      <input type="text" class="form-control" id="birthday" formControlName="birthday">
    </div>
    <span *ngIf="!userForm.controls['birthday'].dirty 
                 && userForm.controls['birthday'].errors?.['required']"  
                 class="help-block text-danger">
                 Birthday is required
    </span>
    <div class="mb-3">
      <label class="form-label">Address</label>
      <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
    </div>
    <span *ngIf="!userForm.controls['address'].dirty 
                 && userForm.controls['address'].errors?.['required']"  
                 class="help-block text-danger">
                 Address is required
    </span>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>
