<input type='number' [(ngModel)]= number1><br><br>
<select [(ngModel)] = method>
    <option value="cong">Cộng</option>
    <option value="tru">Trừ</option>
    <option value="nhan">Nhân</option>
    <option value="chia">Chia</option>
</select><br><br>
<input type='number' [(ngModel)] = number2>
<button on-click="handTinh()">Tính</button><br><br>

<textarea>Kết quả là : {{result}}</textarea>
