<td>{{ i+1 }} </td>
<td>{{ product.name }}</td>
<td>{{ product.price | numberFormat}}</td>
<td>
  <a href="javascript:;" on-click="handDelete(i)" class="btn btn-danger">Xóa</a>
  <a href = "" [ngClass] ="{'btn':true,'btn-info':true}">Sửa</a>
</td>