<div class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/product/list">Danh sách sản phẩm</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/product/create">Tạo mới sản phẩm</a>
    </li> 
</div>
<router-outlet></router-outlet>