<div class="container">
    <div class="text-center" style="color: blue;">
        <h3 class="panel-title">Manage Book</h3>
    </div>
    <div class="row g-12 align-items-center">
        <div class="col-auto">
          <input #txt type="text" class="form-control"  >
        </div>
        <div class="col-auto">
            <button on-click="search(txt.value)" class="btn btn-primary" style="margin-left: -23px;">Search!</button>
          </div>
      </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Stt</th>
            <th scope="col">Name Book</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor =' let product of products , let i = index;'>
            <th>{{ product.id }}</th>
            <td><a [routerLink]="['/product-show',product.id]">{{ product.name }}</a></td> 
            <td>{{ product.author }}</td>
            <td>
                <a  class="btn btn-info" [routerLink]="['/product-edit',product.id]">Edit</a>
                <a  class="btn btn-danger" [routerLink]="['/product-delete',product.id]">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    
</div>
