<div class="container">
    <h3 class = "text-center">Products Add</h3> 
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <p  *ngIf="!productForm.controls['name']?.valid && (productForm.controls['name']?.dirty
            ||productForm.controls['name']?.touched)"
            class="help-block text-danger">
            Name is required
        </p>
    
        <div class="mb-3">
          <label class="form-label">Price</label>
          <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price">
        </div>
        <p  *ngIf="!productForm.controls['price']?.valid && (productForm.controls['price']?.dirty
            ||productForm.controls['price']?.touched)"
            class="help-block text-danger">
            Price is required
        </p>  
    
        <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
      </form>
</div>
