<div class="container">
    <div class="box">
        <img src = 'https://static.vecteezy.com/system/resources/previews/000/479/773/original/logo-vector.jpg' style= "height: 100px;width:100px;" color= "#FFFFFF">
    </div>
    <button on-click = pick() class ='btn btn-primary'> Click! </button>
</div>

