<div class="container"> 
  <form 
        autocomplete="off"
        #fileForm ='ngForm' 
        (ngSubmit)= "handSubmit(fileForm.value)" 
        *ngIf="ishowform == true" 
        method="POST" role="form">
        <!-- {{ newUser | json }} -->
    <h3 class = "text-center" style = "color:rebeccapurple">Thêm mới người dùng</h3>

    <div class="form-group">
      <label> Tên người dùng </label>
      <input class="form-control"
            #name="ngModel" 
            ngModel 
            name = "name" 
            type="text"  placeholder="Tên người dùng" 
            required 
            minlength ='5'>
    </div>
    <span  class="alert-danger" 
           *ngIf ="name.dirty && name.errors?.['required']" >
            Name is required
    </span>
    <span class="alert-danger" 
          *ngIf="name.dirty && name.errors?.['minlength']">
          Name is minlength is {{ name.errors?.['minlength']['requiredLength'] }}
   </span>

    <div class="form-group">
      <label> Giới tính </label>
      <select class="form-control" ngModel name = "gender">
        <option value="1">Nam</option>
        <option value="0">Nữ</option>
      </select>
    </div>

    <div class="form-group">
      <label> Ngày sinh </label>
      <input type="text" class="form-control" ngModel name = "birthday" placeholder="Ngày sinh">
    </div>

    <div class="form-group">
      <label> Địa chỉ </label>
      <input type="text" class="form-control" ngModel name = "address" placeholder="Địa chỉ">
    </div>

    <button 
        *ngIf="fileForm.valid" 
        type="submit" 
        class="btn btn-primary">
        <i class="fas fa-user-plus"></i>Thêm mới
    </button>
  </form>

  <button *ngIf="!ishowform" on-click="toggleForm()" type="button" class="btn btn-success"><i class="fas fa-folder-plus"></i>Thêm mới</button>
  
  <div>
    <button *ngIf="ishowform" on-click="toggleForm()" type="button" class="btn btn-dark"><i class="fas fa-reply-all"></i>Quay lại</button>
  </div>

  <br>
  <div *ngIf="ishowform == false">
    <!-- ishowform == false dùng hiển thị form nếu true sẽ ẩn trang  -->
    <h3 class='text-center'>Danh sách người dùng</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Stt</th>
          <th scope="col">Tên</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Hành động </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="users.length == 0">
          <td colspan="6">Không có dữ liệu</td>
        </tr>
        <tr *ngFor="let user of users; let i = index">
          <th>{{i+1}}</th>
          <td>{{ user.name }}</td>
          <td>
            <span [ngSwitch]="user.gender">
              <span *ngSwitchCase="true">Nam</span>
              <span *ngSwitchCase="false">Nữ</span>
              <span *ngSwitchDefault>Undefine</span>
            </span>
          </td>
          <td>{{ user.birthday }}</td>
          <td>{{ user.address }}</td> 
          <td>
            <a href="javascript:;" on-click = delete(i) class="btn btn-danger"><i class="fas fa-trash"></i>Xóa</a>
                 <!-- javascript nhiệm vụ ngăn load lại trang  -->
            <a href="" [ngClass] ="{
              'btn':true,
              'btn-info':true
            }">
            <i class="fas fa-edit"></i>Sửa</a>
          <td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
