   <div class="container">
     <form 
          autocomplete = "off"
          [formGroup] ="fileForm"
          (ngSubmit) ="handSubmit()"
          *ngIf="ishowform == true" 
          method="POST" role="form">
          <!-- autocomplete tắt gợi ý

           -->
       <h3 class="text-center" style="color:rebeccapurple">Thêm Sản phẩm</h3>

       <div class="mb-3">
         <label> Tên sản phẩm</label>
         <input 
                 formControlName="name" name ="name"
                 type="text" class="form-control" placeholder="Nhập tên sản phẩm" required>
          <span 
            class="alert-danger" 
            *ngIf="fileForm.controls['name'].dirty 
                  && fileForm.controls['name'].errors?.['required']">
            Name is required
          </span>
       </div>

       <div class="mb-3">
         <label class="form-label">Giá sản phẩm</label>
         <input type="number" formControlName="price" name="price" class="form-control" required placeholder="Nhập giá">
         <span 
         class="alert-danger" 
         *ngIf="fileForm.controls['price'].dirty 
               && fileForm.controls['price'].errors?.['required']">
               Price is required
       </span>
        </div>

       <button type="submit" [disabled]="!fileForm.valid" class="btn btn-primary">Thêm</button>

     </form>

     <button *ngIf="ishowform" on-click="toggleForm()" type="button" class="btn btn-success">Đóng lại</button>
     
     <div>
       <button *ngIf="!ishowform" on-click="toggleForm()" type="button" class="btn btn-success">Thêm mới</button>
     </div>
     <br>
     <div *ngIf="ishowform == false">
       <h3 class="text-center" style="color:rebeccapurple">Quản lí Sản phẩm</h3>
       <table class="table">
         <thead>
           <tr>
             <th scope="col"> Stt </th>
             <th scope="col"> Tên sản phẩm </th>
             <th scope="col"> Giá </th>
             <th scope="col"> Hành động </th>
           </tr>
         </thead>
         <tbody>
           <tr *ngIf="products.length == 0">
             <td colspan="4">Không có dữ liệu</td>
           </tr>
           <tr  app-product
                *ngFor="let product of products; let i = index"
                [input_product] = 'product'
                [input_i] = 'i'
                (handleDeleteItem)="deleteItem($event)" 
            >
                <!-- tạo output handleDeleteItem rồi khai báo ở product con = với hàm deleteItem ở products cha-->
           </tr>
         </tbody>
       </table>
     </div>
   </div>
