
<div class="container">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder=" Enter Name" formControlName="name">
    
            <!-- Show validate -->
            <p 
            *ngIf="!categoryForm.controls['name']?.valid && (categoryForm.controls['name']?.dirty
            ||categoryForm.controls['name']?.touched)"
            class="help-block text-danger">Name is required</p>
        </div>

        <div class="form-group">
            <label for="price">Status</label>
            <input type="text" class="form-control" id="status" placeholder="Enter Status" formControlName="status">
    
            <!-- Show validate -->
            <p 
            *ngIf="!categoryForm.controls['status']?.valid && (categoryForm.controls['status']?.dirty
            ||categoryForm.controls['status']?.touched)"
            class="help-block text-danger">Status is required</p>
        </div>

        <div class="form-group">
            <label for="price">Code</label>
            <input type="text" class="form-control" id="code" placeholder="Enter Code" formControlName="code">
    
            <!-- Show validate -->
            <p 
            *ngIf="!categoryForm.controls['code']?.valid && (categoryForm.controls['code']?.dirty
            ||categoryForm.controls['code']?.touched)"
            class="help-block text-danger">Code is required</p>
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid">Submit</button>
        </div>
        
      </form>
</div>
