<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-9">
                <h3 class="text-center" style="color:rebeccapurple">Manage Categories</h3>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input #txt type="text" class="form-control" >
                    <span class="input-group-btn">
                        <button on-click="search(txt.value)" class="btn btn-info" type="button">Search!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
    <button [routerLink]="['category-add']" routerLinkActive="active" class ="btn btn-success">Product Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Stt</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf = "categories.length == 0">
                    <td colspan="6">Không có dữ liệu</td>
                </tr>
                <tr *ngFor="let category of categories; let i = index;">
                    <th>{{ i+1 }}</th>
                    <td>{{ category.name }}</td>
                    <td>{{ category.status }}</td>
                    <td>{{ category.code }}</td>
                    <td>
                        <a class="btn btn-info" [routerLink]="['category-edit',i]">Edit</a> |
                        <a class="btn btn-danger" [routerLink]="['category-delete',i]">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

