
   <div class="text-center" style=" height:130px ;width: 500px; margin: 10px auto;background-color: antiquewhite;">
    <div class="panel-heading">
        <h3 class="panel-title" style ="color:peru">Please confirm !</h3>
    </div>
    <div class="panel-body">
        Product <strong>{{ category.name }}</strong> will be removed ?
    </div>
    <div class="panel-footer" style="overflow: hidden;">
        <button type="button" on-click="handleYes()" class="btn btn-danger pull-left">Delete</button> |
        <button type="button" on-click="handleNo()"class="btn btn-dark pull-right">Cancel</button>
    </div>
</div>
