<div class="container">
    <h3 class="text-center" style="color:rebeccapurple"> Product Editing</h3>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
      </div>
      <span
          *ngIf="!categoryForm.controls['name'].dirty 
          && categoryForm.controls['name'].errors?.['required']"
          class="help-block text-danger">
          Name is required
      </span>

      <div class="mb-3">
        <label class="form-label">Status</label>
        <input type="text"  class="form-control" id="status" placeholder="Status" formControlName="status">
      </div>
      <span 
            *ngIf="!categoryForm.controls['status'].dirty 
            && categoryForm.controls['status'].errors?.['required']"
            class="help-block text-danger">
            Status is required 
      </span>

      <div class="mb-3">
        <label class="form-label">Code</label>
        <input type="text"  class="form-control" id="code" placeholder="Code" formControlName="code">
      </div>
      <span 
            *ngIf="!categoryForm.controls['code'].dirty 
            && categoryForm.controls['code'].errors?.['required']"
            class="help-block text-danger">
            Code is required 
      </span><br>

      <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid">Submit</button>
    </form>
  </div>
  
  
