<table class="table">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>IPhone 12</td>
      <td>320.000 VND</td>
    </tr>
    <tr>
      <td>2</td>
      <td>IPhone 11</td>
      <td>160.000 VND</td>
    </tr>
    <tr>
      <td>3</td>
      <td>IPhone X</td>
      <td>100.000 VND</td>
    </tr>
    </tbody>
  </table>