<h2>Progress Bar</h2>

<div class="progress-bar-container" [style.backgroundColor]="backgroundColor" >
  <div class="progress" [ngStyle]="{
  backgroundColor: progressColor,
  width: progress + '%'
  }"></div>
</div>
