<div class="container">
    <h3 class = "text-center">Book Add</h3> 
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <p  *ngIf="!productForm.controls['name']?.valid && (productForm.controls['name']?.dirty
            ||productForm.controls['name']?.touched)"
            class="help-block text-danger">
            Name is required
        </p>
    
        <div class="mb-3">
          <label class="form-label">Author</label>
          <input type="text" class="form-control" id="author" placeholder="Author" formControlName="author">
        </div>
        <p  *ngIf="!productForm.controls['author']?.valid && (productForm.controls['author']?.dirty
            ||productForm.controls['author']?.touched)"
            class="help-block text-danger">
            Author is required
        </p>  

        <div class="mb-3">
          <label class="form-label">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Description" formControlName="description">
        </div>
        <p  *ngIf="!productForm.controls['description']?.valid && (productForm.controls['description']?.dirty
            ||productForm.controls['description']?.touched)"
            class="help-block text-danger">
            Description is required
        </p>  
    
        <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button> |
        <button type="submit" class="btn btn-warning" routerLink="/products">Home</button>
      </form>
</div>

