<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['users']">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['products']">Products</a>
      </li>
    </ul>
  </div>
  
