<img [src]="image.src" [width] ="image.width" [height] ="image.height">
{{count}}
<br>
<input type = 'text' on-keyup ="change($event)">
<button on-click = "add()" >cộng </button>
<button on-click = "minus()" >trừ!</button>
<br>
<p>Đây là : {{title}}</p>



<!-- <br>
<input type="submit" on-click = "anh()"> -->