<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/product-add" routerLinkActive="active">Product Add</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>