<div class = "container">
    <h3 class ="text-center">Book Edit</h3>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" *ngIf = "productForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
    
            <!-- Show validate -->
            <p 
            *ngIf="!productForm.controls['name']?.valid && (productForm.controls['name']?.dirty
            ||productForm.controls['name']?.touched)"
            class="help-block text-danger">Name is required</p>
        </div>
        <div class="form-group">
            <label for="price">Author</label>
            <input type="text" class="form-control" id="author" placeholder="Author" formControlName="author">
    
            <!-- Show validate -->
            <p 
            *ngIf="!productForm.controls['author']?.valid && (productForm.controls['author']?.dirty
            ||productForm.controls['author']?.touched)"
            class="help-block text-danger">Author is required</p>
    
        </div>

        <div class="form-group">
            <label for="price">Description</label>
            <textarea type="text" class="form-control" id="description" placeholder="Description" formControlName="description"></textarea>
    
            <!-- Show validate -->
            <p 
            *ngIf="!productForm.controls['description']?.valid && (productForm.controls['description']?.dirty
            ||productForm.controls['description']?.touched)"
            class="help-block text-danger">Description is required</p>
    
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button> |
            <button type="submit" class="btn btn-success" routerLink="/products" >Home</button>
        </div>
        
        
      </form>
</div>
