<h1 class="text-center">Danh sách sản phẩm</h1>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Mô tả</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; index as i">
      <th>{{i + 1}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
    </tr>
  </tbody>
</table>
</div>
