<div class="container">
  <form 
      *ngIf="isshowform == true" 
      method="post" role="form" 
         [formGroup]="productform"
      (ngSubmit)="handSubmit()">
    <h3 class="text-center" style="color:rebeccapurple">Thêm Sản Phẩm</h3>

    <div class="form-group">
      <label class="form-label">Tên</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên" required>
    </div>
    <!-- <span class="alert-danger" 
        *ngIf="userform.controls['name'].dirty 
          && userform.controls['name'].errors?.['required']">
      Name is required
    </span> -->
    
    <div class="form-group">
      <label class="form-label">Ngày sinh</label>
      <input type="date" class="form-control" formControlName="birthday" required>
    </div>
    <!-- <span class="alert-danger" 
        *ngIf="userform.controls['birthday'].dirty 
        && userform.controls['birthday'].errors?.['required']">
        Birthday is required
    </span> -->

    <div class="form-group">
      <label class="form-label">Địa chỉ</label>
      <input type="text" class="form-control" formControlName="address" placeholder="Nhập địa chỉ" required>
    </div>
    <!-- <span class="alert-danger" *ngIf="userform.controls['address'].dirty 
          && userform.controls['address'].errors?.['required']">
      Address is required
    </span> -->
    <button type="submit" class="btn btn-primary">Thêm</button>
  </form>

  <div>
    <button *ngIf="!isshowform" on-click="showButton()" class="btn btn-primary">Thêm sản phẩm</button>
  </div>
  <button *ngIf="isshowform" on-click="showButton()" class="btn btn-dark">Quay lại</button>

  <div *ngIf="isshowform == false">
    <h3 class="text-center" style="color:rebeccapurple">Danh Sách Sản Phẩm</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Stt</th>
          <th scope="col">Tên</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Giá</th>
          <th scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="products.length == 0">
          <td colspan="6">Không có dữ liệu</td>
        </tr>
        <tr *ngFor="let product of products , let i = index">
          <th>{{ i+1 }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price | products}}</td>
          <td>
            <a href="javascript:" on-click="delete(i)" class="btn btn-danger"> Xóa</a>
            <a class="btn btn-info"> Sửa</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
