<div class="container">
    <form method="post" role="form"
          [formGroup] ="form"
          (ngSubmit) = "onSubmit()"
          autocomplete="off"         
          >
        <h3 class ="text-center" style="color:rebeccapurple"> REGISTER </h3>
        <div class="mb-3">
          <strong>Email</strong>
          <input 
              type="email" class="form-control"    
              formControlName ="email"      
              name ="email" placeholder ="Enter your email"
              required unique email>
        </div>
        <span 
        class="alert-danger" 
        *ngIf="form.controls['email'].dirty 
            && form.controls['email'].errors?.['required']">
            Email is required
        </span>
        <span 
        class="alert-danger" 
        *ngIf="form.controls['email'].dirty 
            && form.controls['email'].errors?.['email']">
            Incorrect Email Format
        </span>
    
        <div class="mb-3">
          <strong>Password</strong>
          <input 
              type="password" class="form-control"               
              name ="password" placeholder ="Enter your password"
              formControlName ="password"
              minlength ="6" required >
            <span class="alert-danger" 
            *ngIf="form.controls['password'].dirty 
                  && form.controls['password'].errors?.['required']">
                  Password is required
            </span>
            <span class="alert-danger" 
                  *ngIf="form.controls['password'].dirty 
                  && form.controls['password'].errors?.['minlength']">
                  Password is minlength is 6
            </span>
        </div>
    
        <div class="mb-3">
          <strong>Password Confirm</strong>
          <input 
              type="password" class="form-control" 
              name ="confirm_password" placeholder ="Enter your password confirm"
              required same:password 
              formControlName ="confirm_password"
              >
            <span class="alert-danger" 
                  *ngIf="form.controls['confirm_password'].dirty 
                  && form.controls['confirm_password'].errors?.['required']">
                  Confirm_Password is required
            </span>
            
            <!-- <span class="alert-danger" 
                  *ngIf="form.controls['confirm_password'].dirty 
                  && form.controls['confirm_password'].errors?.['same']">
                  Confirm_Password is required
            </span> -->
        </div>
    
        <div class="mb-3">
          <strong>Country</strong>
          <input 
              type="text" class="form-control" 
              formControlName ="country"              
              name ="country" placeholder ="Enter your country"
              required
              >
            <span class="alert-danger" 
                  *ngIf="form.controls['country'].dirty 
                  && form.controls['country'].errors?.['required']">
                  Country is required
            </span>
        </div>
    
        <div class="mb-3">
          <strong>Age</strong>
          <input 
            type="text" class="form-control"  
            formControlName ="age"
            name ="age" placeholder ="Enter your age"
            required>
            <span class="alert-danger" 
                  *ngIf="form.controls['age'].dirty 
                  && form.controls['age'].errors?.['required']">
                  Country is required
            </span>
        </div>
    
        <div class="mb-3">
          <strong>Gender</strong><br>
            Male  <input name ="gender" type ="radio" value="Male" >
            Female <input name ="gender" type ="radio" value="Female" >
          </div>
        <div class="mb-3">
          <strong>Phone</strong>
          <input 
            type="text" class="form-control" 
            formControlName ="phone" 
            name ="phone" placeholder ="Enter your phone"
            required>
            <span class="alert-danger" 
                  *ngIf="form.controls['phone'].dirty 
                  && form.controls['phone'].errors?.['required']">
                  Phone is required
            </span>
        </div>

         <button  [disabled]="!form.valid" type="submit" class="btn btn-primary">Submit</button>

      </form>

</div>

