<div class="gallery-container">
    <div class="gallery-item" *ngFor="let img of listImage"
         [style.max-width.%]="itemWidth" [style.flex-basis.%]="itemWidth">
        <app-image-card [src]="img"></app-image-card>
    </div>
  </div>