
  <h1>Tạo sản phẩm mới</h1>
  <form [formGroup]="productForm" (ngSubmit)="submit()">
    <div class="mb-3" class="container" >
    <table>
      <tr>
        <td>Mã sản phẩm:</td>
        <td><input class="form-control" type="number" formControlName="id" ></td>
      </tr>
      <tr>
        <td>Tên sản phẩm:</td>
        <td><input type="text" formControlName="name" class="form-control"></td>
      </tr>
      <tr>
        <td>Giá sản phẩm</td>
        <td><input type="number" formControlName="price" class="form-control"></td>
      </tr>
      <tr>
        <td>Mô tả về sản phẩm</td>
        <td><input type="text" formControlName="description" class="form-control"></td>
      </tr>
      <tr>
        <td></td>
        <td><button>Tạo mới</button></td>
      </tr>
    </table>
  </div>
  </form>


