<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
